@inject Proiect.Common.DTOs.CurrentUserDto CurrentUser
@model ProductPageModel

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    string SearchText;
    int? SelectedType;

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        SearchText = pager.SearchText;
        SelectedType = pager.SelectedType;
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="~/css/productsIndex.css" />
<link rel="stylesheet" href="~/css/icons.css" />
<link rel="stylesheet" href="~/css/productPrice.css">

<h1>Welcome To the Product Page</h1>
<div class ="products-page-icons">
    <a href="/Product/FavoriteProducts" class="icon-link-heart">
        <i class="fas fa-heart fa-2x"></i>
    </a>
    <a href="/Product/ViewBasket" class="icon-link-shopping-basket">
        <i class="fas fa-shopping-basket fa-2x"></i>
    </a>
</div>

<div class="col-4 p-0 justify-content-end">
    <div id="input-container-text">
        <input class="form-control" id="searchText" type="text" />
        <button id="SortingButton" data-myCustomValue="@pager.CurrentPage">Search</button>
    </div>
    <div id="input-container-select">
        <select class="form-control" id="ClothesType" data-myCustomValue="@pager.CurrentPage">
            <option id="isAllSelected">All Types</option>
            @foreach (var productType in Model.ProductsInformation)
            {
                <option id="selectedValueType" value="@productType.Id">@productType.Type</option>
            }
        </select>
    </div>
</div>

<partial name="_Pager" model="@pager" />

<div class="container">
    <div class="products">
        @foreach (var product in Model.Products)
        {
            var isFavorite = Model.FavouriteProductIds.Contains(product.Id);
            var favoriteClass = isFavorite ? "fas" : "far";
            bool isAlreadyInCart = Model.UserProductsIds.Contains(product.Id);
            <div class="product">
                <div class="product-info">
                    <h3>@product.Name</h3>
                    @if (CurrentUser.IsAuthenticated)
                    {
                        <div class="rating" data-product-id="@product.Id" data-user-id="@CurrentUser.Id">
                            <i class="far fa-star star" data-value="1" id="one-star"></i>
                            <i class="far fa-star star" data-value="2" id="two-stars"></i>
                            <i class="far fa-star star" data-value="3" id="three-stars"></i>
                            <i class="far fa-star star" data-value="4" id="four-stars"></i>
                            <i class="far fa-star star" data-value="5" id="five-stars"></i>
                        </div>
                    }
                </div>

                <img class="product-image" src="@Url.Action("DisplayProductImage", "Product", new { ProductId = product.ImageId })" alt="no image has been found">

                <a style="margin-left:10px;" id="product-price">$@product.Price</a>

                <div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" id="productToast">
                    <div class="toast-header">
                        <img src="path_to_your_icon.png" class="rounded mr-2" alt="icon">
                        <strong class="mr-auto">Notification</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Product was added to cart.
                    </div>
                </div>

                @if (CurrentUser.IsAuthenticated)
                {
                    <i class="@favoriteClass fa-heart heart" data-product-id="@product.Id" data-user-id="@CurrentUser.Id"></i>
                    <i class="fas fa-comment review-btn user-comment" data-product-id="@product.Id" data-user-id="@CurrentUser.Id"></i>
                    var shoppingCartElementClass = !isAlreadyInCart ? "buy-icon" : "add-icon";
                    <i class="fas fa-shopping-cart @shoppingCartElementClass" data-product-id="@product.Id" data-user-id="@CurrentUser.Id"></i>
                }

                @* <button class="btn btn-primary">See All Reviews</button> *@


                    <button class="btn btn-icon" title="See All Reviews">
                        <i class="fas fa-comments"></i>
                    </button>
            </div>
        }
    </div>
</div>

<!-- Review Modal -->
<div id="reviewModal" class="modal">
    <div class="modal-content">
        <input id="ModalProductId" type="hidden" />
        <input id="ModalCommentIsNew" type="hidden" />
        <span class="close">&times;</span>
        <h2>Leave a Review</h2>
        <textarea id="WrittenTextArea" placeholder="Write your review here..." rows="4" style="width:100%;"></textarea>
        <br>
        <button class="btn btn-primary submit-button">Submit</button>
    </div>
</div>

<script src="~/js/products.js"></script>
<script src="~/js/modal.js"></script>
<script src="~/js/filterProducts.js"></script>
