@model ProductPageModel

@inject Proiect.Common.DTOs.CurrentUserDto CurrentUser;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="~/css/viewbasket.css">
<h2>Welcome To the Your Basket</h2>


<table>
    <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Description</th>
        <th>Available Products</th>
        <th>Product Image</th>
    </tr>
    @foreach (var product in Model.Products)
    {

        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Price
            </td>
            <td>
                @product.Description
            </td>
            <td>
                @product.StockNo
            </td>
            <td>
@*                @{
                    var base64 = Convert.ToBase64String(product.Image);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                }*@
                <img src="@Url.Action("DownloadImage","Image",new{imageId = product.ImageId})" width="100" height="100" alt="Product Image" />
            </td>
            <!-- Remove Product -->
            <td>
                <a href="@Url.Action("RemoveProductFromBasket", "Product", new { productId = product.Id })"
                   data-user-id="@CurrentUser.Id"
                   data-product-id="@product.Id"
                   class="btn btn-primary deleteProductFromBasket"
                   aria-label="Remove Product">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>

            <!-- See Product Details -->
            <td>
                <button type="submit" class="btn btn-primary" aria-label="See Product Details">
                    <i class="fas fa-info-circle"></i>
                </button>
            </td>

        </tr>
}



</table>
@*
<button type="submit" class="btn btn-success">Buy Products</button>*@
<button type="submit" class="btn btn-success">
    <i class="fas fa-shopping-cart"></i>
</button>

<script src="~/js/userBasket.js"></script>